# Build output
build/
.gradle/

# IDE files
.idea/
*.iml

# Local machine-specific configs
**/local.properties
**/secrets.properties

# OS junk
.DS_Store
.java-version

# This covers new IDEs, like Antigravity
.vscode/
**/bin/